---
layout: centered
title: Reading List
---
<h1>Reading List</h1>
<% 
    require '/home/milos/Devel/Ruby/miloshadzic.com/lib/books/books'

list = ReadingList.new('books.yml')
  %>

<% for book in list.in_progress_books %>
  <div class="book">
    <a class="floatright" href="<%= book.amazon_url %>"><img src="/resources/images/books/<%= book.isbn %>.png" /></a>
    <a class="dslink" href="<%= book.amazon_url %>"><span class="floatleft bold"><%= book.title %></span></a><br />
    <span class="italic"><%= book.authors %></span>
    <p class="date">Started in <%= book.start_date.join(' ') %></p>
  </div>
<% end %>
<% for book in list.finished_books %>
  <div class="book">
    <a class="floatright" href="<%= book.amazon_url %>"><img src="/resources/images/books/<%= book.isbn %>.png" /></a>
    <a class="dslink" href="<%= book.amazon_url %>"><span class="floatleft bold"><%= book.title %></span></a><br />
    <span class="italic"><%= book.authors %><br /></span>

    <p class="date "><%= book.from_to %></p>
    <div class='bookcomment'><%= book.comment.html %></div>
  </div>
<% end %>
